td, th {
    border: 1px solid white;
    color: white;
}


#table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    width: 95%;
}
th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #111111;
    color: white;
}

td, th {
    border: 1px solid #ddd;
    padding: 8px;
}

.users-title {
    color: white;
    margin: 3%;
    padding-top: 30px;
}